DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=khmerjava-db
DATABASE_USER=test
DATABASE_PASSWORD=test

JPA_SHOW_SQL='true'
HIBERNATE_FORMAT_SQL='true'

JWT_SECRET=jxgEQeXHuPq8VdbyYFNkANdudQ53YUn4